<ion-header>
  <ion-toolbar>
    <ion-title>
      Resources
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Resources</ion-title>
    </ion-toolbar>
  </ion-header>
<!--
  <div id="directory">
  <button class="button" onclick=" window.open('https://www.southhills.edu/current-students/class-times/','_blank')">Class Times</button><br>  
  <button class="button" onclick=" window.open('https://www.southhills.edu/current-students/academic-calendar/','_blank')">Year Schedule</button><br>
  <button class="button" onclick=" window.open('https://www.southhills.edu/about/faculty/','_blank')">Directory</button><br>
  <button class="button" onclick=" window.open('https://www.southhills.edu/financial-aid/','_blank')">Financial Aid</button><br>
  <button class="button" onclick=" window.open('https://www.southhills.edu/programs/','_blank')">Programs</button><br>
</div>
-->
<div id="cards">
  <ion-grid>
    <ion-row>
  <ion-card>
    <img src="../../assets/time.jpg" alt="times">
    <ion-card-content>Can't remember when your classes are? </ion-card-content>
    <ion-button class="button" onclick=" window.open('https://www.southhills.edu/current-students/class-times/','_blank')">See Class Times!</ion-button>
  </ion-card>
  
  <ion-card>
    <img src="../../assets/calendar.jpg" alt="times">
    <ion-card-content>Need to know when you have off?</ion-card-content>
    <ion-button class="button" onclick=" window.open('https://www.southhills.edu/current-students/academic-calendar/','_blank')">View Full Calendar!</ion-button>
  </ion-card>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
  <ion-card>
    <img src="../../assets/money.jpg" alt="times">
    <ion-card-content>Need help with financing?</ion-card-content>
    <ion-button class="button" onclick=" window.open('https://www.southhills.edu/financial-aid/','_blank')">Learn about Financial Aid!</ion-button>
  </ion-card>
  <ion-card>
    <img src="../../assets/student.jpg" alt="times">
    <ion-card-content>Want to know more about our classes?</ion-card-content>
    <ion-button class="button" onclick=" window.open('https://www.southhills.edu/programs/','_blank')">View available classes!</ion-button>
  </ion-card>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
  <ion-card>
    <img src="../../assets/group.jpg" alt="times">
    <ion-card-content>Have a different question?</ion-card-content>
    <ion-button class="button" onclick=" window.open('https://www.southhills.edu/contact/','_blank')">Talk to us!</ion-button>
  </ion-card>
</ion-row>
</ion-grid>
</div>

</ion-content>
