h1{
  font-size: 32pt;

}
img{
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.upcoming{
  color: blue;
}

ion-content ion-toolbar {
  --background: translucent;
}