ion-content ion-toolbar {
  --background: translucent;
}
h1{
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-weight: bold;
}
img{
  border-radius: 25%;
}
p{
  font-size:20pt;
  text-align: justify;
  width: 50%;
}
ion-toolbar{
  background-color: #3171b8;
}