<ion-header>
  <ion-toolbar>
    <ion-title>
      For Future Students
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Interested in South Hills?</ion-title>
    </ion-toolbar>
  </ion-header>
<h1>Interested in South Hills?</h1>
<p>South Hills School of Business & Technology prepares people for their first job, 
  professional advancement, or a completely new career through a variety of 
  specialized associate degree, diploma, certificate, continuing education, 
  and professional development programs in business, technology, healthcare, criminal justice, 
  and graphic arts. Established in 1970 to fill a regional need for more 
  specialized skills training in Central Pennsylvania, South Hills has two campuses located in 
  <a href="https://www.southhills.edu/locations/state-college/">State College</a> and 
  <a href="https://www.southhills.edu/locations/altoona/">Altoona</a>
  . Our students range from recent high school graduates to 
  returning adults looking to add skills to their résumés for new opportunities.
  </p>
  <h1>Mission Statement</h1>
  <p>The mission of South Hills School of Business & Technology is to offer qualified
     individuals the means to start and the encouragement to continue the lifelong 
     growth process through higher education. In addition, South Hills School of 
     Business & Technology has the obligation to create an educational atmosphere that 
     will not only foster the highest standards of excellence in all students but also 
     help those students to develop an awareness of social responsibility and ethical behavior.</p>
     <h1>Can't decide on your career? <a href='https://www.southhills.edu/quiz/'>Take the quiz!</a></h1>
     <p>If you decide that South Hills is the right school for you, 
     <a href="https://www.southhills.edu/application/">click here for our simple application process</a>!</p>

     <ion-grid>
      <ion-row>
        <a href="https://www.youtube.com/SouthHillsEdu"><img src="../../assets/yt.png" alt="youtube"></a>
        <a href="https://www.facebook.com/SHSBT"><img src="../../assets/facebook.png" alt="facebook"></a>
        <a href="https://twitter.com/SouthHillsSBT"><img src="../../assets/twitter.png" alt="twitter"></a>
        <a href="https://www.linkedin.com/school/south-hills-school-of-business-and-technology/"><img src="../../assets/linked.png" alt="linkedin"></a>
        <a href="https://www.instagram.com/south.hills/"><img src="../../assets/insta.png" alt="instagram"></a>
      </ion-row>
    </ion-grid>
    </ion-content>
